body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

#all {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 1000px;
}

#header {
    color: #FFFFFF;
    background: none repeat scroll 0 0 #000000;
    border-bottom: 1px solid #888888;
    height: 40px;
    margin: 0;
    padding: 30px;
}

#canvas {
    padding-top: 10px;
    padding-left: 120px;
    height: 320px;
    width: 1000px;
}

#myCanvas {
    float: center;
    margin: 0 auto;
    border: 1px solid black;
}

#save {
    border: 1px solid #888888;
}

input {
    padding: 3px 10px;
}

button {
    padding: 3px 10px;
}

#colorTemplate {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
}

#linewidth {
    padding: 10px;
    font-size: 18px;
}
